@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-text-shadow {
    text-shadow: 
      0.1667px 0.1667px 0.1667px #919191,
      0.1667px 0.333px 0.1667px #919191,
      0.1667px 0.5px 0.1667px #919191,
      0.1667px 0.666px 0.1667px #919191,
      0.1667px 0.833px 0.1667px #919191,
      0.1667px 1px 0.1667px #919191,
      0.1667px 1.166px 0.1667px #919191,
      0.1667px 1.333px 0.1667px #919191,
      0.1667px 1.5px 0.1667px #919191,
      0.1667px 1.667px 0.1667px #919191,
      0.1667px 3px 1px rgba(16, 16, 16, 0.4),
      0.1667px 3.667px 1.667px rgba(16, 16, 16, 0.2),
      0.1667px 4.167px 5.833px rgba(16, 16, 16, 0.2),
      0.1667px 5px 10px rgba(16, 16, 16, 0.4);
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-color: #FFF;
  --custom-cyan: #0ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --custom-cyan: #0ff;
  }
}

body {
  height: 100vh;
  font-family: "poppins", sans-serif;
}



