@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-text-shadow {
    text-shadow: 
      0.1667px 0.1667px 0.1667px #919191,
      0.1667px 0.333px 0.1667px #919191,
      0.1667px 0.5px 0.1667px #919191,
      0.1667px 0.666px 0.1667px #919191,
      0.1667px 0.833px 0.1667px #919191,
      0.1667px 1px 0.1667px #919191,
      0.1667px 1.166px 0.1667px #919191,
      0.1667px 1.333px 0.1667px #919191,
      0.1667px 1.5px 0.1667px #919191,
      0.1667px 1.667px 0.1667px #919191,
      0.1667px 3px 1px rgba(16, 16, 16, 0.4),
      0.1667px 3.667px 1.667px rgba(16, 16, 16, 0.2),
      0.1667px 4.167px 5.833px rgba(16, 16, 16, 0.2),
      0.1667px 5px 10px rgba(16, 16, 16, 0.4);
  }
  .transition-for-resumeButton {
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out, top 0.7s ease-in-out, left 0.7s ease-in-out;
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-color: #FFF;
  --white-250: 250, 250, 250;
  --custom-cyan: #0ff;
  --green-400-rgba: rgba(74, 222, 130, 0.452);
  --custom-orange-rgb: rgb(255, 68, 33);
  --yellow-400-rgb: rgb(250, 201, 21,);
  --lightBlack: rgb(79, 79, 79);
  --medium-teal-green: rgb(120, 171, 149);
  --dark-gray: rgb(41, 41, 41);
} 

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --custom-cyan: #0ff;
  }
}

body {
  height: 100vh;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  max-width: 1920px;
  margin: auto;
  font-size: 16px;
  line-height: 130%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}



/* Initial state before the animation starts */
.zoom-in-left {
  opacity: 0;                /* Hidden initially */
  transform: scale(0) translateX(-20px); /* Zoomed out and shifted left */
  transition: all 0.7s ease-out; /* Smooth animation */
}

/* Final state when the element becomes visible */
.zoom-in-left-visible {
  opacity: 1;                /* Fully visible */
  transform: scale(1) translateX(0); /* Zooms in and moves to its position */
}


/* Sider bar css */
.sidebar{
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width:991px) {
  .sidebar{
    visibility: hidden;
    opacity: 0;
    margin-left: -100%;
  }
}


/* main content css style */
.main-containt{
  margin-left: 300px;
  transition: margin-left 0.5s ease-in-out;
  /* overflow-x: hidden; */
}


@media screen and (max-width:991px) {
  .main-containt{
    margin-left: 0px;
  }
}

@media screen and (min-width:1400px) {
  .container{
    max-width: 1320px;
  }
}
