/* Custom cursor style */
.typed-cursor {
    color: var(--medium-teal-green) !important;  /* Set the desired cursor color */
}
.back-image{
    width: 325px;
    height: 407px;
    background: 
    linear-gradient(45deg, #172033, rgba(15, 23, 42, 1) 50%, #172033) padding-box,
    conic-gradient(
      from var(--border-angle), 
      rgba(100, 116, 139, 0.48) 80%, 
      rgba(99, 102, 241, 1) 86%, 
      rgba(129, 140, 248, 1) 90%, 
      rgba(99, 102, 241, 1) 94%, 
      rgba(100, 116, 139, 0.48)
    ) border-box;
}

@media screen and (max-width:767px) {
    .back-image{
        width: 280px;
        height: 350px;
    }
  }


  